body {
    width: 100vw;
    font-family: "Martian Mono", sans-serif;
    display: flex;
    align-items: center;
    flex-direction: column;
}

img {
    border-radius: 8px;
    width: 100%;
    height: auto;
}

.card-container {
    gap: 12px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-evenly;
}

.card {
    width: 300px;
    height: 450px;
    overflow: hidden;
}